@model System.Data.DataSet
@using System.Data;
@{
    ViewData["Title"] = "AddBooks";
    Layout = "~/Views/Admin/_adminLayout.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Add Books</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Book Name:</label>
                                <input type="text" class="form-control" name="BookName">
                            </div>
                            <div class="form-group">
                                <label>Book Category:</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="BookCategory">
                                    <option selected="" disabled="" value="">Book Category</option>

                                    @{
                                        var categories = new HashSet<string>();
                                        foreach (DataRow row in ViewBag.CategoryData.Tables[0].Rows)
                                        {
                                            var category = row["category"].ToString();
                                            if (!categories.Contains(category))
                                            {
                                                categories.Add(category);
                                                <option value="@category">@category</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Book Author:</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="BookAuthor">
                                    <option selected="" disabled="" value="">Book Author</option>
                                    @{
                                        var Author = new HashSet<string>();
                                        foreach (DataRow row in ViewBag.AuthorData.Tables[0].Rows)
                                        {
                                            var author = row["AuthorName"].ToString();
                                            if (!Author.Contains(author))
                                            {
                                                Author.Add(author);
                                                <option value="@author">@author</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Book Image:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="formfile">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label>Book Price:</label>
                                <input type="text" class="form-control" name="BookPrice">
                            </div>
                            <div class="form-group">
                                <label>Book Description:</label>
                                <textarea class="form-control" rows="4" name="BookDescription" maxlength="50"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
@*<div class="row">
    @foreach (var book in ViewBag.Books)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@book.BookImage" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">@book.BookName</h5>
                    <p class="card-text">@book.BookDescription</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">@book.BookAuthor</span>
                        <span class="text-muted">@book.BookPrice</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@
@* @foreach (System.Data.DataRow dr in ViewBag.user_data.Rows)
{
    <tr>
        <td>@dr["BookName"].ToString()</td>
        <td>@Html.ActionLink("Delete", "delete", new { id = dr["id"].ToString() })</td>
    </tr>
}

@foreach (var imageUrl in ViewBag.ImageUrls)
{
    <p>@imageUrl</p>
    <img src="@imageUrl" alt="Image" />
} *@

