@model System.Data.DataSet
@using System.Data;

@{
    ViewData["Title"] = "UpdateBookData";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Update Book</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Book Name:</label>
                                <input type="text" class="form-control" name="BookName" value="@Model.Tables[0].Rows[0]["BookName"]">
                            </div>
                            <div class="form-group">
                                <label>Book Category:</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="BookCategory" value="@Model.Tables[0].Rows[0]["BookCategory"]">
                                    <option selected="" disabled="" value="@Model.Tables[0].Rows[0]["BookCategory"]">@Model.Tables[0].Rows[0]["BookCategory"]</option>
                                    @{
                                        var categories = new HashSet<string>();
                                        foreach (DataRow row in ViewBag.CategoryData.Tables[0].Rows)
                                        {
                                            var category = row["category"].ToString();
                                            if (!categories.Contains(category))
                                            {
                                                categories.Add(category);
                                                <option value="@category">@category</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Book Author:</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="BookAuthor" value="@Model.Tables[0].Rows[0]["BookAuthor"]">
                                    <option selected="" disabled="" value="@Model.Tables[0].Rows[0]["BookAuthor"]">@Model.Tables[0].Rows[0]["BookAuthor"]</option>
                                    @{
                                        var Author = new HashSet<string>();
                                        foreach (DataRow row in ViewBag.AuthorData.Tables[0].Rows)
                                        {
                                            var author = row["AuthorName"].ToString();
                                            if (!Author.Contains(author))
                                            {
                                                Author.Add(author);
                                                <option value="@author">@author</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Book Image:</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="formfile" value="@Model.Tables[0].Rows[0]["BookImage"]">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Book Price:</label>
                                <input type="text" class="form-control" name="BookPrice" value="@Model.Tables[0].Rows[0]["BookPrice"]">
                            </div>
                            <div class="form-group">
                                <label>Book Description:</label>
                                <textarea class="form-control" rows="4" name="BookDescription" maxlength="50" value="@Model.Tables[0].Rows[0]["BookDescription"]"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Submit" />
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>

