
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@*  @foreach (System.Data.DataRow dr in ViewBag.selectUser_data.Rows)
    {
        <tr>
            <td>
                @dr["UserFName"].ToString()
                
            </td>
        </tr>
    } *@
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">User List</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                           
                            <table id="user-list-table" class="data-tables table table-striped table-bordered" role="grid" aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>Profile</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>Status</th>
                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow dr in ViewBag.selectUser_data.Rows)
                                    {
                                    <tr>
                                        <td class="text-center"><img class="rounded img-fluid avatar-40" src="images/user/01.jpg" alt="profile"></td>
                                            <td>@dr["UserFName"].ToString()</td>
                                            <td>@dr["UserPhone"].ToString()</td>
                                            <td>@dr["UserEmail"].ToString()</td>
                                            <td>@dr["UserCountry"].ToString()</td>
                                        <td><span class="badge iq-bg-primary">Active</span></td>
                                       
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="@Url.Action("deleteUser", "Admin", new { id = dr["id"] })"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

