
@{
    ViewData["Title"] = "ViewOrders";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
 @*   @foreach (System.Data.DataRow dr in ViewBag.user_data.Rows)
    {
        <tr>
            <td>
                @dr["BookName"].ToString()
                <p>@ViewBag.ImageUrls[ViewBag.user_data.Rows.IndexOf(dr)]</p>
                <img src="@ViewBag.ImageUrls[ViewBag.user_data.Rows.IndexOf(dr)]" alt="Image" />
            </td>
            <td>@dr["OrderStatus"].ToString()</td>
        </tr>
    } *@

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Order List</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            
                            <table id="user-list-table" class="data-tables table table-striped table-bordered" mt-4" role="grid" aria-describedby="user-list-page-info">
                                <thead>
                                    <tr>
                                        <th>Book</th>
                                        <th>BookName</th>
                                        <th>Book Quantity</th>
                                        <th>Book Price</th>
                                        <th>Order Status</th>
                                        <th>Payment Status</th>
                                        <th>userID</th>
                                        <th>Action for order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach (System.Data.DataRow dr in ViewBag.user_data.Rows)
                                          {

                                    <tr>
                                            <td class="text-center"><img class="rounded img-fluid avatar-40" src="@ViewBag.ImageUrls[ViewBag.user_data.Rows.IndexOf(dr)]" alt="profile"></td>
                                        
                                            <td>@dr["BookName"].ToString()</td>
                                            <td>@dr["BookQuantity"].ToString()</td>
                                            <td>@dr["BookPrice"].ToString()</td>
                                            <td>@dr["OrderStatus"].ToString()</td>
                                            <td>@dr["PaymentStatus"].ToString()</td>
                                            <td>@dr["userId"].ToString()</td>

                                        
                                        <td>
                                            <div class="flex align-items-center list-user-action">
                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" asp-controller="Admin" asp-action="UpdateStatus" asp-route-id="@dr["id"]"><i class="ri-pencil-line"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

