@{
	ViewData["Title"] = "Shop_Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	

@* @foreach (System.Data.DataRow dr in ViewBag.Cart_Data.Rows)
{
	<tr>
		<td>
			<img src="@ViewBag.ImageUrls[ViewBag.Cart_Data.Rows.IndexOf(dr)]" alt="Book Image" />
			@dr["BookName"].ToString()
		</td>
		<td>
			<input type="number" min="1" value="@dr["BookQuantity"]" name="quantity" />
		</td>
		<td>
			@(((int)dr["BookQuantity"]) * ((int)dr["BookPrice"])) <!-- Calculate total price -->
		</td>
		<td>
			<a href="@Url.Action("RemoveCartItem", "Home", new { bookName = dr["BookName"].ToString()>remove</a>
		</td>
	</tr>
} *@


<div class="page-content">
	<!-- inner page banner -->
	<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
		<div class="container">
			<div class="dz-bnr-inr-entry">
				<h1>Cart</h1>
				<nav aria-label="breadcrumb" class="breadcrumb-row">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
						<li class="breadcrumb-item">Cart</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- inner page banner End-->
	<!-- contact area -->
	<section class="content-inner shop-account">
		<!-- Product -->
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-12">
					<div class="table-responsive">
						<table class="table check-tbl">
							<thead>
								<tr>
									<th>Product</th>
									<th>Product name</th>
									<th>Unit Price</th>
									<th>Quantity</th>
									<th>Total</th>
									<th class="text-end">Close</th>
								</tr>
							</thead>
							<tbody>
								@foreach (System.Data.DataRow dr in ViewBag.Cart_Data.Rows)
								{
									var quantity = Convert.ToInt32(dr["BookQuantity"]);
									var price = Convert.ToDecimal(dr["BookPrice"]);
									var total = quantity * price;
									<tr>
										<td class="product-item-img"><img src="@ViewBag.ImageUrls[ViewBag.Cart_Data.Rows.IndexOf(dr)]" alt="Book Image"></td>
										<td class="product-item-name">@dr["BookName"].ToString()</td>
										<td class="product-item-price">@dr["BookPrice"].ToString()</td>
										<td class="product-item-quantity">
											<div class="quantity btn-quantity style-1 me-3">
												<input id="demo_vertical2" type="number" value="@quantity" name="demo_vertical2" />
											</div>
										</td>
										<td class="product-item-total">@total</td>
										<td class="product-item-close"><a href="@Url.Action("deleteCartData", "Home", new { id = dr["id"] })" class="ti-close"></a></td>
									</tr>

								}

							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="row">
				
				<div class="col-lg-6">
					<div class="widget">
						<h4 class="widget-title">Cart Subtotal</h4>
						<table class="table-bordered check-tbl m-b25">
							<tbody>
								<tr>
									<td>Order Subtotal</td>
									<td>@string.Format("{0:C}", ViewBag.OrderSubtotal)</td>
								</tr>
								<tr>
									<td>Shipping</td>
									<td>@string.Format("{0:C}", ViewBag.ShippingCharge)</td>
								</tr>

								<tr>
									<td>Total</td>
									<td>@string.Format("{0:C}", ViewBag.OverallTotal)</td>
								</tr>
							</tbody>
						</table>
						<div class="form-group m-b25">
							<a asp-action="Shop_Checkout" asp-controller="Home" class="btn btn-primary btnhover" type="button">Proceed to Checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Product END -->
	</section>
	<!-- contact area End-->

</div>

